@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Teko:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== HEADERS ===== */
.header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header video #vid {
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
  background-size: cover;
}

.header hgroup {
  position: absolute;
}

.neighbour {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/neighbourhood_header.jpeg) fixed no-repeat center center;
  background-size: cover;
}

.book {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/booking_header.jpeg) fixed no-repeat center center;
  background-size: cover;
}

.event {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/events_header.jpeg) fixed no-repeat center center;
  background-size: cover;
}

.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.titles h1 {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  letter-spacing: 7px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.titles h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: italic;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

/* ===== NAV ===== */
.navi {
  background: #736A62;
  display: flex;
  overflow: hidden;
}

.navi a:link {
  padding: 20px;
  background: #736A62;
  color: #D9CCC5;
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
}

.navi a:hover {
  color: #736A62;
  background: #D9CCC5;
}

.navi a:visited {
  color: #FFFFFF;
}

@media screen and (max-width: 800px) {
  .navi {
    flex-direction: column;
  }
}

/* ===== SECTION ===== */

.text {
  padding: 20px;
  margin: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
}

.text img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
}

/* ===== FIGURES ===== */
.figures {
  width:100%;
  min-height: 100vh;
  height:auto;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  align-items: center;
}

figure.post-module {
  position: relative;
  background: #F2F2F2;
  z-index: 1;
  min-width: 270px;
  max-width: 350px;
  margin: 20px;
  height: 500px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: all 0.4s;
}

figure.post-module:hover {
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.5);
}

.post-module .thumbnail {
  background: #000000;
  height: 400px;
  overflow: hidden;
}

.post-module .thumbnail img {
  display: block;
  width: 120%;
  transition: all 0.4s ease;
}

.post-module:hover .thumbnail img {
  opacity: 0.8;
  transform: scale(1.05);
}

.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #F2F2F2;
  width: 100%;
  padding: 30px;
  transition: all 0.45s ease;
}

.post-module .post-content p {
  color: #261414;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.8em;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.45s ease;
}

.post-module:hover .post-content p {
  max-height: 200px;
  opacity: 1 !important;
}

/* ===== FORM ===== */
#form {
  background: #C1D9D4;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form form {
  width: 100%;
}

#form h2 {
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

#form form input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

#form form input:hover {
  opacity: 1;
  outline: none;
}

/* ===== FOOTER ===== */
.foot {
  background: #736A62;
}

.foot p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
  margin: 0 20px;
  line-height: 22px;
  font-size: 12px;
  text-align: center;
}

/* ===== ANIMATIONS ===== */
/* ----------------------------------------------
 * Generated by Animista on 2021-3-20 15:15:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
